﻿<script type="text/x-handlebars" data-template-name="resetpassword">
       <div class="container mtl">
      <div class="create_profile_title">
        <div class="pull-left title pts">Reset Password</div>
        <div class="clear"></div>
          
      </div>
    </div>
    <div class="pbl"></div>
          <div class="container">
      <div class="row-fluid">
        <div class="create_profile_wrap">
    
              <!-- form -->
              <div class="pvm phl">
              <h5 class="mbm">Please provide email</h5>
                {{#if ajaxCalls.registerUser.isSuccess}}
                  <div class="alert alert-success">
                        <i class="icon-ok"></i> 
                        resetpassword link has been sent to your mail.
                    </div>
                {{else}}
                  <div class="row-fluid">
				        <div {{bind-attr class=":alert :alert-error validationErrors.allMessages.length:show:hide"}}>
					        <div class="text-error font12"><i class="reserved-ticketing-red mrm"></i>Please fix below errors</div>
					        <ol class="font12">
						        {{#each error in validationErrors.allMessages}}
							        <li>
								        {{error.lastObject}}
							        </li>
						        {{/each}}
					        </ol>
				        </div>
			        </div>
                {{/if}}
                <div class="control-group">
                  <div class="controls">
                    <div class="mbm">
                        <div {{bind-attr class=":mbm :control-group validationErrors.emailId.messages.length:error"}}>
                                {{view Ember.TextField valueBinding="emailId" name="userEmail" type="text" placeholder="Email"
                                    classBinding=":span12"}}
                            </div>        
    
                    <div class="txtAlignCenter mtl"> <button class="btn btn-large btn-block btn-primary "{{action resetPassword}}>Reset</button></div>
                    
                  </div>
                </div>
                </div>
            
        </div>
        <div class="clear"></div>
      </div>
    </div>
    </script>