﻿<script type="text/x-handlebars" data-template-name="registration">
    
    <div class="container mtl">
          <div class="create_profile_title">
            <div class="pull-left title pts">Create a Khelkund account</div>
            <div class="pull-right ptm txtAlignRight pbs">Already registered? {{#link-to 'login'}}Sign In{{/link-to}}</div>
            <div class="clear"></div>
          </div>
    </div>

    <div class="pbl"></div>
    <div class="container">
          <div class="row-fluid">
            <div class="create_profile_wrap"> 
              
              <!-- form -->
              <div class="pvm phl">
                
                  {{#if ajaxCalls.registerUser.isSuccess}}
                    <div class="alert alert-success">
                        <i class="icon-ok"></i> 
                        Account created successfully. A verification mail is sent at your registered mail. plese verify your mail address and proceed furthur.
                    </div>
                {{else}}
                    <div class="row-fluid">
				        <div {{bind-attr class=":alert :alert-error validationErrors.allMessages.length:show:hide"}}>
					        <div class="text-error font12"><i class="reserved-ticketing-red mrm"></i>Please fix below errors</div>
					        <ol class="font12">
						        {{#each error in validationErrors.allMessages}}
							        <li>
								        {{error.lastObject}}
							        </li>
						        {{/each}}
					        </ol>
				        </div>
			        </div>
                  {{/if}} 
                    <!-- Error messages from service call for register and username availability -->
                    {{ajaxCalls.registerUser.isFailure}}
                    
                    <div {{bind-attr class=":alert :alert-error ajaxCalls.checkEmailAvailability.errors.length::hide ajaxCalls.registerUser.isFailure:hide"}}>			
                        	    
					    <ol class="font12">

                            {{#if ajaxCalls.checkEmailAvailability.errors.length}}
						        {{#each error in ajaxCalls.checkEmailAvailability.errors}}
                                    {{#if error.serviceMsg}}
							        <li>

								        {{error.serviceMsg}}
							        </li>
                                   {{/if}}
						        {{/each}}					            
                            {{/if}}
                           
                            
					    </ol>
				    </div>
                    
                  <div {{bind-attr class=":alert :alert-error ajaxCalls.registerUser.isFailure:hide ajaxCalls.checkTeamNameAvailability.errors.length::hide"}}>					    
					    <ol class="font12">
                            
                            {{#if ajaxCalls.checkTeamNameAvailability.errors.length}}
						       {{#each error in ajaxCalls.checkTeamNameAvailability.errors}}
							        {{#if error.serviceMsg}}
							        <li>

								        {{error.serviceMsg}}
							        </li>
                                   {{/if}}
						        {{/each}}		            
                            {{/if}}
                            
					    </ol>
				    </div>

                  <div {{bind-attr class=":alert :alert-error ajaxCalls.registerUser.errors.length::hide"}}>					    
					    <ol class="font12">
                            
                            {{#if ajaxCalls.registerUser.isFailure}}
						        {{#each error in ajaxCalls.registerUser.errors}}
							        {{#if error.serviceMsg}}
							        <li>

								        {{error.serviceMsg}}
							        </li>
                                   {{/if}}
						        {{/each}}
                            {{/if}}
                            
					    </ol>
				    </div>
                  
                <div class="control-group">
                  <div class="controls">
                    <div class="mbm">
                      <div {{bind-attr class=":control-group validationErrors.firstName.messages.length:error"}}>
                                    {{view Ember.TextField valueBinding="firstName" name="fname" type="text" placeholder="First name" class="span12"}}
                                </div>
                    </div>
                    <div class="mbm">
                     <div {{bind-attr class=":control-group validationErrors.lastName.messages.length:error"}}>
                                    {{view Ember.TextField valueBinding="lastName" name="lname" type="text" placeholder="Last name" class="span12"}}
                                </div>
                    </div>
                    <div class="mbm">
                      <div {{bind-attr class=":mbm :control-group validationErrors.emailId.messages.length:error"}}>
                                {{view Ember.TextField valueBinding="emailId" name="userEmail" type="text" placeholder="Email"
                                    classBinding=":span12 view.showLoaderOnEmail:loader"}}
                            </div>
                    </div>
                    <div class="mbm">
                      <div {{bind-attr class=":mbm :control-group validationErrors.password.messages.length:error"}}>
                                {{view Ember.TextField valueBinding="password" name="password" type="password" placeholder="Password" class="span12"}}
                            </div>
                    </div>
                    <div class="mbm">
                      <div {{bind-attr class=":mbm :control-group validationErrors.passwordConfirm.messages.length:error"}}>
                                {{view Ember.TextField valueBinding="passwordConfirm" name="passwordConfirm" type="password" placeholder="Confirm password" class="span12"}}
                            </div>
                    </div>
                    <div class="mbm">
                      <div {{bind-attr class=":control-group validationErrors.teamName.messages.length:error"}}>
                                    {{view Ember.TextField valueBinding="teamName" name="teamName" type="text" placeholder="Team name" 
                          classBinding=":span12 view.showLoaderOnTeamName:loader"}}
                                </div>
                    </div>
                    <div class="mbm">
                      <div {{bind-attr class=":control-group validationErrors.state.messages.length:error"}}>
                                    {{view Ember.Select
                                           content=stateList
                                          
                                           value=state prompt='Select State' }}
                                </div>
                    </div>

                    <label class="checkbox mtl">
                      {{view Ember.Checkbox checkedBinding="termsNConditions"}}
                      <small>By creating a new account, you agree to the <a href="#">Terms of Service</a> and <a href="#">Privacy Policy</a></small> </label>
                    <div class="clear"></div>
                    <div class="txtAlignCenter mtl">
                      <button class="btn btn-large btn-block btn-primary "{{action registerUser}}>Register Me</button>
                    </div>
                    <div class="clear"></div>
                  </div>
                </div>
              </div>
            </div>
            <div class="clear"></div>
          </div>
        </div>
   
</script>