﻿<script type="text/x-handlebars" data-template-name="login">
    <div class="pbl"></div>
    <div class="container mtl">
          <div class="create_profile_title">
            <div class="pull-left title pts">Sign In to Khelkund</div>
            <div class="pull-right ptm txtAlignRight pbs">New to Khelkund? {{#link-to 'registration'}} Create Account {{/link-to}}</div>
            <div class="clear"></div>
          </div>
    </div>
    <div class="row-fluid noCurves create_profile_wrap">
    <div class="clearfix">
        <h4>Sign In</h4>
    </div>
    <div class="loginContainer pagination-centered">
        <div class="fbLogin cursorPointer" id="fbSignIn"{{action loginWithFacebook}}>
            <img src="Images/login_fb_btn.png" alt="" title="">
        </div>
        <div class="orTxt plm prm ptm"><b>or</b></div>
    </div>

    <div class="row-fluid">
	    <div {{bind-attr class=":alert :alert-error   :hidden isValid:hidden:show"}}>
		    <div class="text-error font12"><i class="reserved-ticketing-red mrm"></i>Please fix below errors</div>
					    <ol class="font12">
						    {{#each error in validationErrors.allMessages}}
							    <li>
								    {{error.lastObject}}
							    </li>
						    {{/each}}
					    </ol>
				    </div>
    </div>

    <div class="control-group">
        <div class="controls">
                    <div {{bind-attr class=':mbm :control-group validationErrors.email.messages:error'}}>
                        
                            {{view Ember.TextField  placeholder="Email" valueBinding="email" class="span12"}}
                        
                    </div>
                    <div {{bind-attr class=':mbm :control-group validationErrors.password.messages:error'}}>
                        {{view Ember.TextField  placeholder="Password" valueBinding="password" class="span12" type='password'}}
                      
                    </div>
                   <!-- <label class="checkbox pull-left">
                      <input type="checkbox">
                      <small>Remember me</small> </label>-->
                    <div class="pull-right">
                        {{#linkTo 'resetpassword'}}<small>Forgot your password?</small>{{/linkTo}} 
                        </div>
                    <div class="clear"></div>
                    <div class="txtAlignCenter mtl">
                    {{#if ajaxCalls.userLogin.inProgress}}
                        <button type="button" class="btn btn-large btn-block btn-primary">Processing<i class="processing-primary"></i></button>
                    {{else}}
                      <button type="submit" class="btn btn-large btn-block btn-primary" {{action login}}>Sign In </button>
                    {{/if}}
                    </div>
                    <div class="clear"></div>
                  </div>
    </div>
</div>
   
</script>