<div class="pools_playercon">

    <div class="team_country"><span>
        <img src="img/india.png" alt="india"></span>Ind</div>
    <div class="players">Virat Kohli</div>
    <div class="points">94</div>
    <div class="price">12,00,000</div>
    <div class="pool_btn">
        <input type="button" class="pool_addbtn" /></div>

</div>