<div class="match-tour trans_background">
    <h2><span>
        <img src="img/pool_players.png" alt="pool players"></span>Pool of players </h2>

    <div class="match-tour-inn editmatch_con">

        <div id="pool_playerstab">
            <ul class="resp-tabs-list">
                <li>
                    <label>
                        <img src="img/rounder.png" alt="All rounder" /></label>
                    All rounder</li>
                <li>
                    <label>
                        <img src="img/bat.png" alt="batsman" /></label>
                    Batsman</li>
                <li>
                    <label>
                        <img src="img/bowling.png" alt="bowling" /></label>
                    bowling</li>
                <li>
                    <label>
                        <img src="img/keeper.png" alt="wicket" /></label>
                    Wicket keeper</li>
            </ul>
            <div class="resp-tabs-container">
                <div>
                    <ul class="pool_filter">
                        <li class="dropdown fltr_team" id="menu1">
                            <a class="dropdown-toggle" data-toggle="dropdown" href="#menu1">All
                              <b class="caret"></b>
                            </a>
                            <ul class="dropdown-menu">
                                <li><a href="#">ind</a></li>
                                <li><a href="#">aus</a></li>
                                <li><a href="#">sa</a></li>
                                <li><a href="#">pak</a></li>
                                <li><a href="#">sl</a></li>
                                <li><a href="#">wi</a></li>
                                <li><a href="#">ban</a></li>
                                <li><a href="#">eng</a></li>
                                <li><a href="#">nz</a></li>


                            </ul>
                        </li>

                        <li class="fltr_player">
                            <div class="search_con">
                                <form>
                                    <input type="text" name="" value="" placeholder="Search Players">
                                    <!--Add for Search-->
                                    <input type="submit" class="search_btn" value="">
                                </form>
                            </div>
                        </li>
                        <li class="fltr_points"><span>
                            <img src="img/points_icon.png" alt="points_icon"></span> Points</li>
                        <li class="fltr_price"><span>
                            <img src="img/price_icon.png" alt="price_icon"></span> Price</li>
                        <li>&nbsp;</li>
                    </ul>

                    {{#each itemController="player"}}
                        {{view KhelkundApp.PlayerView}}
                    {{/each}}
                    
                </div>
            </div>
        </div>
    </div>
</div>