<div class="match-tour trans_background match-bdr1 ">
    <h2><span>
        <img src="css/img/team-icon.png" alt="" /></span>challenge </h2>
    <div class="team-tour-inn">
        <div class="manage-con bg_dk">
            <div class="manage-lt">
                <p>Budget</p>
                <div class="budgt">
                    <span>
                        <img src="css/img/blue-line.png" alt="" /></span>
                    <label>15k</label>
                </div>

            </div>
            <div class="manage-lt">
                <p>formation</p>
                <select data-placeholder="3-4-3" class="chosen-select input_txtVal" style="width: 98%;" tabindex="2" id>
                    <option value=""></option>
                    <option value="3-4-3">3-4-3</option>
                    <option value="3-4-3">3-4-2</option>
                    <option value="3-4-3">3-4-1</option>
                    <option value="3-4-3">1-4-3</option>
                </select>

            </div>
            <div class="manage-lt1">
                <input type="submit" value="edit team" class="edit-btn">
            </div>
        </div>

        <div class="team-head">
            <h4><span>
                <img src="css/img/bat.png" alt="" /></span>batting</h4>
        </div>
        <div class="team-con">
            <div class="team-member mr_rt">
                <div class="team-member-lt">
                    <div class="team-img yellow-circ">
                        <img src="css/img/rahul.png" alt="" />
                    </div>
                </div>
                <div class="team-member-rt">
                    <ul>
                        <li><span>
                            <img src="css/img/left-arr.png" alt="" /></span>R dravid<label>(c)</label></li>
                        <li class="fn_itl"><span>
                            <img src="css/img/india.png" alt="" /></span>42</li>
                        <li class="fn_11"><span>
                            <img src="css/img/rupee.png" alt="" /></span>5,00,000</li>
                    </ul>

                </div>
            </div>
            <div class="team-member mr_rt">
                <div class="team-member-lt">
                    <div class="team-img">
                        <img src="css/img/rahul.png" alt="" />
                    </div>
                </div>
                <div class="team-member-rt">
                    <ul>
                        <li><span>
                            <img src="css/img/left-arr.png" alt="" /></span>R dravid</li>
                        <li class="fn_itl"><span>
                            <img src="css/img/india.png" alt="" /></span>42</li>
                        <li class="fn_11"><span>
                            <img src="css/img/rupee.png" alt="" /></span>5,00,000</li>
                    </ul>

                </div>
            </div>
            <div class="team-member">
                <div class="team-member-lt">
                    <div class="team-img">
                        <img src="css/img/rahul.png" alt="" />
                    </div>
                </div>
                <div class="team-member-rt">
                    <ul>
                        <li><span>
                            <img src="css/img/left-arr.png" alt="" /></span>R dravid</li>
                        <li class="fn_itl"><span>
                            <img src="css/img/india.png" alt="" /></span>42</li>
                        <li class="fn_11"><span>
                            <img src="css/img/rupee.png" alt="" /></span>5,00,000</li>
                    </ul>

                </div>
            </div>
        </div>
        <div class="team-head">
            <h4><span>
                <img src="css/img/bowling.png" alt="" /></span>bowling</h4>
        </div>
        <div class="team-con">
            <div class="team-member mr_rt">
                <div class="team-member-lt">
                    <div class="team-img">
                        <img src="css/img/rahul.png" alt="" />
                    </div>
                </div>
                <div class="team-member-rt">
                    <ul>
                        <li><span>
                            <img src="css/img/left-arr.png" alt="" /></span>R dravid</li>
                        <li class="fn_itl"><span>
                            <img src="css/img/india.png" alt="" /></span>42</li>
                        <li class="fn_11"><span>
                            <img src="css/img/rupee.png" alt="" /></span>5,00,000</li>
                    </ul>

                </div>
            </div>
            <div class="team-member mr_rt">
                <div class="team-member-lt">
                    <div class="team-img">
                        <img src="css/img/rahul.png" alt="" />
                    </div>
                </div>
                <div class="team-member-rt">
                    <ul>
                        <li><span>
                            <img src="css/img/left-arr.png" alt="" /></span>R dravid</li>
                        <li class="fn_itl"><span>
                            <img src="css/img/india.png" alt="" /></span>42</li>
                        <li class="fn_11"><span>
                            <img src="css/img/rupee.png" alt="" /></span>5,00,000</li>
                    </ul>

                </div>
            </div>
            <div class="team-member">
                <div class="team-member-lt">
                    <div class="team-img">
                        <img src="css/img/rahul.png" alt="" />
                    </div>
                </div>
                <div class="team-member-rt">
                    <ul>
                        <li><span>
                            <img src="css/img/left-arr.png" alt="" /></span>R dravid</li>
                        <li class="fn_itl"><span>
                            <img src="css/img/india.png" alt="" /></span>42</li>
                        <li class="fn_11"><span>
                            <img src="css/img/rupee.png" alt="" /></span>5,00,000</li>
                    </ul>

                </div>
            </div>
        </div>
        <div class="team-head">
            <h4><span>
                <img src="css/img/rounder.png" alt="" /></span>all rounder</h4>
        </div>
        <div class="team-con">
            <div class="team-member mr_rt">
                <div class="team-member-lt">
                    <div class="team-img">
                        <img src="css/img/rahul.png" alt="" />
                    </div>
                </div>
                <div class="team-member-rt">
                    <ul>
                        <li><span>
                            <img src="css/img/left-arr.png" alt="" /></span>R dravid</li>
                        <li class="fn_itl"><span>
                            <img src="css/img/india.png" alt="" /></span>42</li>
                        <li class="fn_11"><span>
                            <img src="css/img/rupee.png" alt="" /></span>5,00,000</li>
                    </ul>

                </div>
            </div>
            <div class="team-member mr_rt">
                <div class="team-member-lt">
                    <div class="team-img">
                        <img src="css/img/rahul.png" alt="" />
                    </div>
                </div>
                <div class="team-member-rt">
                    <ul>
                        <li><span>
                            <img src="css/img/left-arr.png" alt="" /></span>R dravid</li>
                        <li class="fn_itl"><span>
                            <img src="css/img/india.png" alt="" /></span>42</li>
                        <li class="fn_11"><span>
                            <img src="css/img/rupee.png" alt="" /></span>5,00,000</li>
                    </ul>

                </div>
            </div>
            <div class="team-member">
                <div class="team-member-lt">
                    <div class="team-img">
                        <img src="css/img/rahul.png" alt="" />
                    </div>
                </div>
                <div class="team-member-rt">
                    <ul>
                        <li><span>
                            <img src="css/img/left-arr.png" alt="" /></span>R dravid</li>
                        <li class="fn_itl"><span>
                            <img src="css/img/india.png" alt="" /></span>42</li>
                        <li class="fn_11"><span>
                            <img src="css/img/rupee.png" alt="" /></span>5,00,000</li>
                    </ul>

                </div>
            </div>
        </div>
        <div class="team-head">
            <h4><span>
                <img src="css/img/keeper.png" alt="" /></span>wicket keeper</h4>
        </div>
        <div class="team-con">
            <div class="team-member mr_rt">
                <div class="team-member-lt">
                    <div class="team-img">
                        <img src="css/img/rahul.png" alt="" />
                    </div>
                </div>
                <div class="team-member-rt">
                    <ul>
                        <li><span>
                            <img src="css/img/left-arr.png" alt="" /></span>R dravid</li>
                        <li class="fn_itl"><span>
                            <img src="css/img/india.png" alt="" /></span>42</li>
                        <li class="fn_11"><span>
                            <img src="css/img/rupee.png" alt="" /></span>5,00,000</li>
                    </ul>

                </div>
            </div>


        </div>
    </div>
</div>